/* Login css */

@import url("https://fonts.googleapis.com/css2?family=Labrada:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --light: #ffffff;
  --primary: #082253;
  --light-primary: #d0e5f9;
  --secondary: #0171df;
  --grey: #f8f9fa;
  --dark-grey: #aaaaaa;
  --dark: #0e1013;
  --danger: #ff4040;
  --light-danger: #fecdd3;
  --warning: #ffd140;
  --light-warning: #fff2c6;
  --success: #3cae8b;
  --light-success: #bbf7d0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-login {
  position: absolute;
  top: 22px;
  left: 22px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: var(--primary);
  gap: 10px;
  text-decoration: none;
}

.logo-login i {
  width: 48px;
}

.logo-login .logo-name {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary);
}

.logo-login .logo-name span {
  color: var(--warning);
}

.container {
  overflow-y: auto;
  max-height: 90%;
  width: 440px;
  padding: 40px 32px;
  border-radius: 8px;
  box-shadow: var(--dark-grey) 0px 7px 29px 0px;
}

.container h1 {
  font-size: 1.6rem;
}

.container .social-login {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container .social-login button {
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  color: var(--dark);
  border: 1px solid var(--primary);
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container .social-login button i {
  font-size: 26px;
}

.container .social-login button:hover {
  color: var(--secondary);
  border-color: var(--secondary);
}

.container .divider {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container .divider .line {
  height: 1px;
  width: 100%;
  background: var(--dark);
  opacity: 0.2;
  margin: 36px 0 16px;
}

.container form label {
  color: var(--dark);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.03rem;
  display: block;
  margin-top: 12px;
}

.container form .custome-input {
  position: relative;
}

.container form .custome-input input {
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 46px;
  letter-spacing: 0.03rem;
  border: 1px solid var(--dark);
  background: transparent;
  outline: none;
  border-radius: 8px;
  text-indent: 20px;
  margin-top: 6px;
  transition: all 0.3s ease;
}

.container form .custome-input input:focus {
  border-color: var(--secondary);
}

.container form .custome-input input:focus + i {
  color: var(--secondary);
}

.container form .custome-input i {
  position: absolute;
  font-size: 28px;
  right: 10px;
  top: 14px;
  transition: all 0.3s ease;
}

.container form .login {
  width: 100%;
  margin-top: 30px;
  background: var(--secondary);
  color: var(--light);
  border: none;
  line-height: 50px;
  font-size: 18px;
  letter-spacing: 0.025em;
  cursor: pointer;
  font-weight: 800;
  border-radius: 8px;
  box-shadow: 0 5px 10px var(--dark-grey);
  transition: all 0.3s ease;
}

.container form .login:hover {
  background: var(--secondary);
}

.container .links {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.container .links a {
  color: var(--secondary);
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  text-underline-offset: 6px;
  text-decoration-color: var(--secondary);
}

.container .links a:hover {
  text-decoration: underline;
}

.task-list{
  width: 100%;
  list-style-type: none;
}

.task-list li{
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  padding: 14px 10px;
  border-radius: 10px;
  align-items: center;
}

.task-list li .task-title{
  display: flex;
  align-items: center;
}

.task-list li .task-title p{
  margin-left: 6px;
}

.task-list li.completed{
  border-left: 10px solid var(--success);
}

.task-list li.not-completed{
  border-left: 10px solid var(--danger);
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 440px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .logo-login {
    display: none;
  }
}
